@media only screen and (min-width: 768px){
  .logo{
    margin: 1% 0 0 34%;
    width: 40%;
    height: 4vh;
  }

  .main{
    flex-wrap: wrap;
  }

  .fuelHolder{
    width: 47%;
    height: 30vh;
  }

  .lineHolder:nth-child(2){
    width: 47%;
    height: 30vh;
    margin-left: 6%;
  }

  .contentPusher{
    height: 86vh;
  }
}
